
.input-div{
  display: flex;
  flex-direction: column;
  padding: 25px;
  width: 50vw;
  border-radius: 15px;
  background-color: #203344;
  color: #f0f4f8;

}
body {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;

  }

input{
  padding: 0.375rem 0.75rem;
  height: 2.375rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-bottom: .5rem;
}

label{
  margin-bottom: .5rem;
}
fieldset{
  margin: 1.5rem;
}

select{
  height: 2rem;
  font-size: 1rem;
}

#parent-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  background-color: #cddbe7;
}
#radioGroup{
  display: inline-block;

}
#submit{
  margin-top: 15px;
  align-self: center;
  width: 50%;
}

#survey-form{
  padding: 50px;
  background-color: red;
}
#title-div{
  text-align: center;
}
